<b><center> K Nearest Neighbor </center></b>

KNN can be used for both classification and regression problems. However, it is more widely used in classification problem in the industry. It is a simple algorithm that stores all the available cases and classifies new cases by its majority votes of its k neighbors. The case being assigned to the class is most common against its k nearest neighbors measured by a distance formula.

These distance functions can be Manhattan, Euclidean, Minkowski and Hamming distance. First three functions are used for continuous variable and fourth one is used for categorical variable.

- Manhattan Distance

Manhattan Distance is the sum of absolute differences between points across all the dimensions.

Let's say there are 2 points - A(p1,p2) and B(q1,q2) <br>
So, the Manhattan distance in a 2-dimensional space is given as: <br>
    d = |p1 - q1| + |p2 - q2|

And the generalized formula for an n-dimensional space is given as: <br>
    d = Σ(pi - qi) ,where summation goes from i=1 to n. <br>
   - where n = number of dimensions
   - p,q are data points

- Euclidean Distance

Euclidean Distance represents the shortest distance between two points.

Let's say there are 2 points - A(p1,p2) and B(q1,q2) <br>
So, the Euclidean distance in a 2-dimensional space is given as: <br>
    d = [(p1 - q1)^2 + (p2 - q2)^2]^1/2  <br>
    where ^ means raise to the power

And the generalized formula for an n-dimensional space is given as: <br>
    d = [Σ(pi - qi)^2]^ 1/2 ,where summation goes from i=1 to n. <br>
   - where n = number of dimensions
   - p,q are data points

<img src="https://miro.medium.com/max/657/1*p2WnXXcQZzcFt3NHX50VjA.png"></img>

- Minkowski Distance

Minkowski Distance is the generalized form of Euclidean and Manhattan Distance.

The formula for the Minkowski Distance is given as: <br>
d = [Σ(pi - qi)^p]^ 1/p ,where summation goes from i=1 to n. <br>
And, p represents the order of the norm.

The p parameter of the Minkowski Distance metric of SciPy represents the order of the norm. When the order(p) is 1, it will represent Manhattan Distance and when the order in the above formula is 2, it will represent Euclidean Distance.

- Hamming Distance

Hamming distance is best for categorical data. It measures the similarity between two strings of the same length. The Hamming Distance between two strings of the same length is the number of positions at which the corresponding characters are different.

For example - We have the words : "Euclidean" and "Manhattan". <br>
Since the length of these strings is equal, we can calculate the Hamming Distance. We will go character by character and match the strings. The first character of both the strings (e and m respectively) is different. Similarly, the second character of both the strings (u and a) is different and so on. <br>

Look carefully – seven characters are different whereas two characters (the last two characters) are similar. <br>
Hence, the Hamming Distance here will be 7. <br>
<b>Note : </b>Larger the Hamming Distance between two strings, more dissimilar will be those strings (and vice versa).

Now let's take a dataset for this algorithm.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.neighbors import KNeighborsClassifier, NeighborhoodComponentsAnalysis
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Classified')
df.head(n=10)

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1
5,5,0.833928,1.523302,1.104743,1.021139,1.107377,1.010930,1.279538,1.280677,0.510350,1.528044,0
6,6,0.944705,1.251761,1.074885,0.286473,0.996440,0.428860,0.910805,0.755305,1.111800,1.110842,0
7,7,0.816174,1.088392,0.895343,0.243860,0.943123,1.045131,1.146536,1.341886,1.225324,1.425784,0
8,8,0.776551,1.463812,0.783825,0.337278,0.742215,1.072756,0.880300,1.312951,1.118165,1.225922,0
9,9,0.772280,0.515111,0.891596,0.940862,1.430568,0.885876,1.205231,0.596858,1.542580,0.981879,1

In [3]:
df.tail(n=10)

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
990,990,0.876112,0.942414,1.060605,1.478041,0.818773,1.473635,1.306364,1.297386,0.522877,1.286394,0
991,991,1.102612,1.007163,0.535051,0.633220,0.736791,0.864663,1.080128,1.230731,1.180497,1.677409,1
992,992,0.809627,1.602700,0.990945,0.649933,1.118883,0.899837,0.919117,1.608892,0.978616,1.275621,0
993,993,0.733687,1.049636,0.729194,0.851512,1.552015,0.954450,0.469426,0.862135,1.464802,1.088759,1
994,994,1.212650,0.839062,0.456012,0.773420,1.091210,0.794378,0.736621,1.162377,1.512756,1.415168,1
995,995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517,1
996,996,0.575529,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489,0
997,997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504,1
998,998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063,1
999,999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837,1

In [4]:
X=df.drop('TARGET CLASS',axis=1)
y=df['TARGET CLASS']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [5]:
knn=KNeighborsClassifier()
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [6]:
knn.score(X_test,y_test)

0.565

We completed our third algorithm today. <br>
Keep practising, download the datasets from kaggle and get started! <br>
In the next repository we will be starting with the K Means Clustering